# Python
*.pyc
*.pyo
__pycache__/
*.pyd
env/
venv/
ENV/
.venv/
.env/

# Flask / Gunicorn / WSGI
instance/
*.log
*.pot
*.pyc

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/
